*:focus {
   background-color:#ccc;
}
.formwork textarea {
    float: left;
    width: 25em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.formwork input {
    float: left;
    width: 15em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.formwork label {
    float: left;
    width: 10em;
    margin-bottom: 1em;
    padding: 0;
    clear: left;
}

.formwork input[type="submit"] {
    margin-left: 15em;
    width: auto;
    padding: 0.5em 1em;
    clear: both;
    font-size: 1em;
    font-size: 16px;

}

.formwork form {
    overflow: auto;
    clear: both;
    display: block;
}

*/ .formwork form p {
    clear: both;
}

.formwork input[type="checkbox"] {
    float: left;
    clear: left;
    width: auto;
    margin-right: 10px;
}

.formwork input[type="checkbox"]+label {
    clear: right;
}
.formwork select{
    font-size: 16px;
    width: 200px;
}




.log label {
    float: left;
    width: 10em;
    margin-bottom: 5px;
    padding: 0.5em;
    clear: left;
    
}

/*.log label {padding: 0; margin: 0;}*/
.log input[type="submit"] {    
text-align: center;
}

.log input,
select,
textarea {
    
    width: 15em;
    margin-bottom: 8px;
    padding: 0.5em;
    font-size: 14px;
}

.log form {
    overflow: auto;
    clear: both;
    display: block;
}

.button_edit{
    padding: 5px 18px;
    font-size: 16px;
    margin-bottom: 5px;
}