p{margin: 0; padding: 3px;}
.p{padding: 10px;}
.p2{padding: 20px;}
.p3{padding: 30px;}
.b{border: 1px #000 solid;}
.bw{border: 1px #fff solid;}
.bgg{background-color: #ccc;}
.mt{margin-top: 10px;}
.tc{text-align: center;}
.tc{text-align: center;}
.tl{text-align: left;}
.mt5{margin-top: 50px;}
.cw{color: white;}

.inlin{           
    display: inline;
    padding: 10px;
      
}



/*.findcontainer{
    position: relative;
    display: inline-block;  
}*/

.bookmark:hover {background-color: #ddd; cursor: pointer;}

.bookmarks{    
    cursor: pointer;
    position: absolute;  
    background-color: #ccc;
    min-width: 170px;      
    z-index: 1;
}
.bookmark{
    background-color: white;    
    padding: 5px;
    font-size: 12px;
    border: none; 
    text-align: left;

}


.findtaho{ 
    position:relative;
    z-index: 1;   
}

.hints{    
    position:absolute;
    left:0px;    
    background-color: #f0f5f5;    
    z-index: 1;
     min-width:171px;
    

}
.hint{  
    cursor: pointer;    
    padding: 5px;
    font-size: 12px;
    border: none;   
    
}

.hint:hover{    
    background-color:#333;    
    color: greenyellow;   
}

.hints:hover{border:1px #666 solid;}








