.p{padding: 10px;}
.p2{padding: 20px;}
.p3{padding: 30px;}
.b{border: 1px #000 solid;}
.bw{border: 1px #fff solid;}
.bgg{background-color: #ccc;}
.mt{margin-top: 10px;}
.tc{text-align: center;}

.inlin{           
    display: inline;
    padding: 10px;
      
}



.findcontainer{ position: relative; display: inline-block;}
.bookmarks {display: block;}
.bookmarks .bookmark:hover {background-color: #ddd;}
.bookmarks{    
    position: absolute;
    margin-left:240px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.bookmark{
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    cursor: pointer;
}
#findtaho{ background-color: coral;}

.hints{    
      height: 20px;
    background-color: #f1f1f1;
    z-index: 1;
    border: 1px red solid;    
}

.hint{
    border: 1px green solid;
    position: absolute;
}




