nav {
    background-color: #443A5C;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ddd;
}

nav ul {
    display: table;
    width: 1000px;
    margin: auto;
}

nav li {
    display: table-cell;
    text-align: center;
    padding: 1em;
}