div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    border: #FFC9A7 1px solid;
    
}
ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#cccccc;
    margin-top: 3px !important;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color:#333;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
}

ul.menu li a:hover {
    color:#000000; font-weight: bold;background-color: #f2f2f2;}

.forwindow  {width: 100%;}
.forwindow th{background-color:#cccccc; color:#000000;border: 1px #000000 solid; text-align: center;}
.forwindow td{border: 1px #000000 solid; padding-left: 10px;}




tr:hover{background-color: yellow;color: blue;}
table,th,td,tr { border: 1px solid black;  border-collapse: collapse;}



label {

    display: inline-block;
}


.col-75 { float: left; width: 50%;   margin-bottom: 6px; }
.col-25 { float: left; width: 50%;   margin-bottom: 0px; text-align: right; padding-right: 50px;}


  footer {
      padding: 1em;
      background-color: #FFC9A7;
      font-size: 0.8em;
  }
   main {
       overflow: auto;
       min-height: 30vh;
       background-color: #f7f7f7;
       width: 1000px;
       margin: auto;
       box-shadow: -1000px 0 0 #f7f7f7, 1000px 0 0 #f7f7f7;
       padding-top: 20px;
   }



   label {
    width:auto;
   }

 


   .button{
    border-radius: 5px;
    border: 2px #cccccc solid;
    background-color: #cccccc;
    padding: 1px 6px;
    color: #000;
    cursor: default;
    text-decoration: none;
   }
   .button:hover{background-color: green;color: #f2f2f2;}
   legend{text-align: center; background-color: #FFC9A7;}

  /*little table*/
   .lt{width:20%; margin: auto; padding-top: 20px;  }
  /*medium table*/
   .mt{width:50%; margin: auto; }

   input,
   select {
       width: 100%;
       padding: 2px 2px;
       margin: 8px 0;
       display: inline-block;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
   }

   input:hover{border:2px #4CAF50 solid;}

   .forform {
       border-radius: 5px;
       background-color: #f2f2f2;
       padding: 20px;
       margin-top: 20px;
   }

    input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding:  4px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    label{font-weight: bold; color: #000000;}



.smart-table tr:not(.selected):hover {
    background: rgba(0, 0, 0, 0.05);
}

.smart-table tr.selected {
    background: rgba(0, 0, 0, 0.2);
}
.inputheader{border: 1px solid; text-align: center;  padding: 2px;}

.smart-table-hint {
    font-size: 12px;
    padding: 8px;
    background: lightgrey;
    border-radius: 4px;
    border: 1px solid gray;
    position: relative;
    cursor: pointer;
}

.smart-table-hint:before {
    content: "✖️";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    text-align: right;
    position: absolute;
    background: lightgray;
    right: 4px;
    top: 4px;
}

.smart-table-hint.collapsed {
    width: 100px;
}

.smart-table-hint.collapsed:before {
    content: "Hint";
    display: inline;
    position: static;
    width: auto;
    height: auto;
}

.smart-table-hint.collapsed li{
    display: none;
}

.smart-table-hint li {
    margin: 1px 0 1px 14px;
}
.errors{
    color:red; padding: 10px; border: 1px red solid; background-color: yellow; text-align: center;
}

