ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#cccccc;
    margin-top: 3px !important;
}

li {
    float: left;
}

li a {
    display: block;
    color:#333;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
}

li a:hover {
    color:#000000; font-weight: bold;background-color: #f2f2f2;}

.forwindow  {width: 100%;}
.forwindow th{background-color:#cccccc; color:#000000;border: 1px #000000 solid; text-align: center;}
.forwindow td{border: 1px #000000 solid; padding-left: 10px;}




tr:hover{background-color: #999999;}
table,th,td,tr { border: 1px solid black;  border-collapse: collapse;}



label {
   
    display: inline-block;
}


.col-50 { float: left; width: 50%;   margin-bottom: 6px; }


  footer {
      padding: 1em;
      background-color: #FFC9A7;
      font-size: 0.8em;
  }
   main {
       overflow: auto;
       min-height: 30vh;
       background-color: #f7f7f7;
       width: 1000px;
       margin: auto;
       box-shadow: -1000px 0 0 #f7f7f7, 1000px 0 0 #f7f7f7;
       padding-top: 20px;
   }

   /*input,
   label,
   select,
   textarea {
       float: left;
       width: 15em;
       margin-bottom: 1em;
      
   }*/

   label {
    width:auto;
   }

   input[type="submit"] {
   
       width: auto;      
       clear: both;
       font-size: 16px;
  
   }

  /** form {
       overflow: auto;
       clear: both;
       display: block;
   }*/

   .button{
    border-radius: 5px;
    border: 2px #cccccc solid;
   }
   .button:hover{background-color: green;color: #f2f2f2;}
   legend{text-align: center; background-color: #FFC9A7;}

  /*little table*/
   .lt{width:25%; margin: auto; }
  /*medium table*/
   .mt{width:50%; margin: auto; }