

.tableedit select{width:150px; padding: 3px; background-color: aliceblue;}
.tableedit td{font-size: 12px;}
.tableedit th{font-size: 12px; text-align:center;}
.tableedit {margin: auto; padding: 10px;}


.fortable {
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

.fortable th {
position: sticky;  
box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
border: 1px #000 solid;
background-color: #ccc;
font-size: 10px;
padding: 5px;
}

.fortable td {
    border: 1px #ccc solid;
    padding-left: 5px;
    font-size: 12px;
    
}

.fortable tr:hover {
    background-color: yellow;
    color: blue;
}