.tableedit{
    width: 80%;
    margin: auto;

}
.tableedit select{width:50%; padding: 3px; background-color: aliceblue;}
.tableedit td{font-size: 12px;}
.tableedit th{font-size: 12px; text-align:center;}
